/*********************
begüm
2015-2016 yýlý
butik-hotel uygulamasý
/*********************/
body
{ 
	background:url(../img/arkaplan.png);
	color:white;
}

		@font-face {
			font-family: eurofurence light;
			src: url(yazitipleri_net_eurof35.ttf);
		}
		
		@font-face {
			font-family: CygnetRound;
			src: url(yazitipleri_net_CygnetRound.ttf);
		}
		
		@font-face {
			font-family: Monoglyceride;
			src: url(yazitipleri_net_monodb_.ttf);
		}
	/*Üst kapsayýcý*/
	
	#ust-kapsayici
	{
		width:100%;
		height:100%; 
		background: url(../img/luce2.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
	}
		#ust-kapsayici img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		
		
		#ust-kapsayici h3
		{
			position:absolute;
			right:195px;
			top:500px;
			font-size:36px;
			font-family:CygnetRound;
			color:rgba(187, 0, 54, 0.8);
		}
		
		
		/*Menubar*/
		
		#menubar
		{
			position:absolute; 
			right:20px;
			top:40px;
		}
		
		#menubar ul
		{
			list-style:none;
		}

		#menu > li 
		{
			float:left;
			height:15px;
			padding: 10px 10px;
			margin-left:10px;
			margin-bottom:5px;
			font-weight:bold;
			font-family:Monoglyceride;
			font-size:16px;
			width:85px;
			border-radius: 4px;
			background-color: rgba(0, 0, 0, 0.4);
		}

		#menu li a
		{
			color:#fff;
			display:block;
			padding: 5px auto;
			text-decoration:none;
		}

		#menu li ul li
		{
			background-color: rgba(0, 0, 0, 0.4);
			height:15px;
			padding:10px 10px;
			margin-top:9px;
			margin-left:-10px;
			width:85px;
			border-radius: 4px;	
		}
		
		#menu li:hover 
		{
			background-color: rgba(0, 60, 79, 0.6);
		}

		#menu li ul li:hover 
		{
			background-color: rgba(0, 60, 79, 0.6);
		}
		
		/*Üst kapsayýcý 2*/
		
		#ust-kapsayici2
		{
		width:100%;
		height:300px; 
		background: url(../img/luce12.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
		}
		#ust-kapsayici2 img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		/*Üst kapsayýcý 3*/
		
		#ust-kapsayici3
		{
		width:100%;
		height:300px; 
		background: url(../img/luce8.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
		}
		#ust-kapsayici3 img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		
		#ust-kapsayici4
		{
		width:100%;
		height:300px; 
		background: url(../img/luce14.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
		}
		#ust-kapsayici4 img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		
		#ust-kapsayici5
		{
		width:100%;
		height:300px; 
		background: url(../img/luce1.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
		}
		#ust-kapsayici5 img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		
		#ust-kapsayici6
		{
		width:100%;
		height:300px; 
		background: url(../img/luce10.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;-o-background-size: cover;
		background-size: cover;
		}
		#ust-kapsayici6 img
		{
			position:absolute;
			left:50px;
			top:30px;
			border:2px solid white;
		}
		
		/*Yazý Metinleri Kapsayýcý*/
	
	#yazi-metinleri-kapsayici
	{
		width:100%;
		height:1000px;
	}
		
		#yazi-metni
		{
			width:500px;
			height:850px;
			background:rgba(0, 60, 79, 0.6);
			position:relative;
			left:150px;
			top:50px;
			padding:25px;
			float:left;
		}
		
		#yazi-metni h3
		{
			position:relative;
			top:20px;
			left:15px;
			font-size:30px;
			font-family:eurofurence light;
		}
		
		#yazi-metni p
		{
			position:relative;
			top:20px;
			bottom:10px;
			font-size:22px;
			font-family:eurofurence light;
			text-indent:50px;
		}
		
		#resim
		{
			float:left;
			height:750px;
			width:500px;
			position:relative;
			left:200px;
			top:85px;
			bottom:50px;
		}
		
		#resim img
		{
			border-radius:100px;
		}
		
		/*Footer*/
		
		#footer-kapsa
		{
			width:100%;
			height:100px;
			background:rgba(187, 0, 54, 0.8);
		}
		
		#footer-kapsa ul
		{
			width:120px;
			position:relative;
			left:150px;
			top:35px;
		}
		
		#footer-kapsa ul li
		{
			float:left;
			margin-right:20px;
		}
		
		#adres
		{
			width:330px;
			height:75px;
			position:relative;
			left:900px;
			top:-10px;
		}
		
		#footer-kapsa p
		{
			clear:both;
			font-family:Monoglyceride;
			text-decoration:none;
		}
		
		/* jssor slider arrow navigator skin 08 css */
        /*
		
        .jssora08l                  (normal)
        .jssora08r                  (normal)
        .jssora08l:hover            (normal mouseover)
        .jssora08r:hover            (normal mouseover)
        .jssora08l.jssora08ldn      (mousedown)
        .jssora08r.jssora08rdn      (mousedown)
        */
		
        .jssora08l, .jssora08r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 50px;
            height: 50px;
            cursor: pointer;
            background: url('../img/a08.png') no-repeat;
            overflow: hidden;
            opacity: .4;
            filter: alpha(opacity=40);
        }
		
        .jssora08l 
		{
			background-position: -5px -35px; 
		}
		
        .jssora08r
		{ 
			background-position: -65px -35px; 
		}
		
        .jssora08l:hover 
		{ 
			background-position: -5px -35px; 
			opacity: .8; 
			filter:alpha(opacity=80); 
		}
		
        .jssora08r:hover 
		{
			background-position: -65px -35px;
			opacity: .8; 
			filter:alpha(opacity=80); 
		}
		
        .jssora08l.jssora08ldn 
		{ 
			background-position: -5px -35px; 
			opacity: .3;
			filter:alpha(opacity=30); 
		}
        
		.jssora08r.jssora08rdn 
		{ 
			background-position: -65px -35px; 
			opacity: .3;
			filter:alpha(opacity=30); 
		}
		
		#yazi
		{
			width:400px;
			height:200px;
			background:rgba(0, 60, 79, 0.6);
			position:relative;
			left:150px;
			top:50px;
			padding:25px;
			float:left;
			margin:20px;
		}
		
		#yazi h3
		{
			position:relative;
			top:20px;
			left:15px;
			font-size:30px;
			font-family:eurofurence light;
		}
		
		#yazi p
		{
			position:relative;
			top:20px;
			bottom:10px;
			font-size:22px;
			font-family:eurofurence light;
			text-indent:50px;
		}
		
		#yazi-metinleri-kapsayici2
		{
			width:100%;
			height:400px;
		}
		
		#yazi-metinleri-kapsayici3
		{
			width:100%;
			height:700px;
		}
		
		#giris-kapsa
		{
			width:400px;
			height:250px;
			background:rgba(0, 60, 79, 0.6);
			position:relative;
			left:33%;
			top:50px;
			padding:25px;
			border-radius:20px;
		}
		
		#giris-kapsa h3
		{
			position:relative;
			top:20px;
			left:15px;
			font-size:30px;
			font-family:eurofurence light;
			margin-bottom:20px;
		}
		
		#uye-kapsa
		{
			width:400px;
			height:500px;
			background:rgba(0, 60, 79, 0.6);
			position:relative;
			left:33%;
			top:70px;
			padding:25px;
			border-radius:20px;
		}
		
		#uye-kapsa h3
		{
			position:relative;
			top:20px;
			left:15px;
			font-size:30px;
			font-family:eurofurence light;
			margin-bottom:20px;
		}
		
		table
		{
			margin:10px auto;
			color:white;
			text-align:right;
			font-size:22px;
			font-family:eurofurence light;
			
		}
		
		table td
		{
			padding:10px;
		}
		
		button
		{
			position:relative;
			left:100px;
			width:150px;
			height:45px;
			font-size:22px;
			font-family:eurofurence light;
			background:rgba(187, 0, 54, 0.8);
			border-color:rgba(187, 0, 54, 0.8);
			color:white;
		}